// @import "bootstrap-sprockets";
@import "toastr";
@import "dropzone/dropzone";
@import 'bootstrap';
@import 'bootstrap-datepicker';
@import "lightbox-bootstrap";
@import "toastr";
@import "font-awesome-sprockets";
@import "font-awesome";

.app-title {
  font-size: 3rem!important;
  margin: 20px 0px 0px 0px!important;
  font-family: arial,sans-serif;
}

body {
  font-size: 1.5rem!important;
}

.btn {
  font-size: 1.5rem!important;
  padding: 0.5rem 1rem!important ;
}

.form-control {
  font-size: 1.5rem!important;
}

.navbar {
  padding: 0!important;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 1.5rem!important;
}

.navbar-dark .navbar-nav .nav-link:hover {
  font-size: 1.5rem!important;
  background-color: #28a745!important;
}

@media (max-width: 768px) {
  .navbar-dark .navbar-nav .nav-link {
    padding-left: 20px;
  }

}

.nav-tabs > li > a:hover {
  background-color: #35d259!important;
}

.button-color {
  color: bisque;
  font-family: 'Cormorant Garamond', serif;
}
 
.button-margin {
  margin: 10px;
}
 
.user-title-color {
  background-color: rgb(28, 160, 241)!important;
  color: floralwhite;
}
 
.staff-title-color {
  background-color: rgb(30, 187, 156)!important;
  color: floralwhite;
}

.company-title-color {
  background-color: rgb(233, 81, 16)!important;
  color: floralwhite;
}

.btn-company { 
  background-color: rgb(250, 81, 16)!important;
  color: white!important;
}
 
.button-underline a {
  text-decoration: none;
}
 
.no-underline {
  text-decoration:none !important;
}

a {
  text-decoration: none;
}

.used-button-background {
  background-color: rgb(229, 131, 19)!important;
}

.unused-button-background {
  background-color: rgb(180, 185, 189)!important;
}

.button-right {
  float: right;
}


/*######################################### dashboardvertical_navbar start ############################################### */

@media (min-width: 768px) {
  .sidebar-nav.dashboard .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav.dashboard .navbar ul {
    float: none;
  }
  .sidebar-nav.dashboard .navbar ul:not {
    display: block;
  }
  .sidebar-nav.dashboard .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav.dashboard .navbar li a {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.sidebar-nav.dashboard .navbar-default .navbar-nav > li  {
    color: #222;
    font-size: 14px;
}

.sidebar-nav.dashboard .navbar-default .navbar-nav > li{
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    padding: 10px;
    font-size: 16px;
}

.text {
  display: teble-cell;
}
.navbar-nav a {
  text-decoration: none;
  color: black;
}

.navbar-nav a:hover {
  text-decoration: none;
  color: white;
  background-color: #198754;
}

.sidebar-nav.dashboard .navbar-default .navbar-nav > li:first-child {
    border-top: 1px solid #ddd;
}

.sidebar-nav.dashboard .navbar-toggle {
    background-color: #337ab7;
}

.active {
  background-color: #DDDDDD!important;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: #DDDDDD;
}

/*######################################### dashboardvertical_navbar end ############################################### */


#output {
  width:50px; height:50px;
  margin:10px; padding:5px; border:1px solid black;
}


/*#########################################　レッスン表 start ############################################### */

#table-container {
  overflow: scroll;
}

table#time_table {
  width: 100%;
  border: 1px solid #cccccc;
}

table#time_table #lesson_day th {
  padding: 10px 0;
  text-align: center;
}

#lesson_reservation_tab li  {
  list-style: none;
  margin: 5px;
}

table#time_table #classroom_name td {
  padding: 10px 0;
  text-align: center;
}

table#time_table #classroom_name td#classroom_name_title {
  background-color: #F5F5F5;
}

table#time_table .time_schedule th {
  height: 72px;
  padding: 10px 0;
  text-align: center;
}

table#time_table .time_schedule td {
  min-width: 70px;
}


table#time_table tr {
  height: 4px;
}

table#time_table tr th {
  border: 1px solid #cccccc;
}

table#time_table tr td {
  border-right: 1px solid #cccccc;
}

table#time_table tr.border td {
  border-top: 1px solid #cccccc;
}

table#time_table tr.border th {
 text-align: center;
}


table#time_table .lesson_chart a {
  color: white;
  text-decoration: underline;
}

table#time_table .lesson_chart .no_name {
  display: none;
}

table#time_table #user_name {
  color: #f44336;
}

.title-position th {
  text-align: center;
}

table#time_table .lesson_chart {
    vertical-align: top;
    position: relative;
}

table#time_table .lesson_chart > div {
    color: #FFF;
    font-size: 12px;
    text-align: left;
    padding: 10px 8px;
    position: relative;
    z-index: 2;
}

table#time_table .lesson_chart::before {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    z-index: 1;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    
}

table#time_table .name_size {
  font-size: 4px;
}

.modal-footer{
  justify-content : center!important;
}

.select-box{
  border: 1px medium!important;
  box-sizing: content-box!important;
  width: 90%!important;
  font-size: 16px!important;
 }

/* #########################################　レッスン表 end ########################################### */

.ticket-footer {
  text-align: left!important;
}

/* #########################################　チケット表示 start ########################################### */


.display_point {
  width: 100%;
  height: 100px;
  text-align: right;
  color: 	#228B22;
  font-weight: bolder;
  font-style: italic;
  font-size: 20px;
  padding: 0.5em 1em;
  font-weight: bold;
  border: solid 3px #6091d3;
  border-radius: 10px;
  margin: 0 5px 18px auto;
}

.display_point span {
  color: 	#CD5C5C;
  font-weight: bolder;
  font-style: italic;
  font-size: 30px;
}

@media screen and (min-width: 992px) { /*ウィンドウ幅が992px以上の場合に適用*/
  .display_point{
    width: 30%;
  }

  .profile-15 {
    width: 10%;
    height: 10%;
  }

}

@media screen and (max-width: 991px) { /*ウィンドウ幅が最大767pxまでの場合に適用*/
  .display_point{
    width: 40%;
  }
}

@media screen and (max-width: 768px) { /*ウィンドウ幅が最大767pxまでの場合に適用*/
  .display_point{
    width: 70%;
    margin-right: 20px;
    font-size: 18px;
  }
}

/* #########################################　チケット表示 end ########################################### */


.card-title div {
  padding: 5px;
}


.check_lb {
  display:block;
}

.small-number-field {
  height: 30px;
  width: 50px;
}
